<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="./assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="./">Arturo Guerrero</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.facebook.com/arturo.guerrero.g" class="facebook" target="_blank"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/arturo.guerrero.g/?hl=es" class="instagram" target="_blank"><i
                        class="bx bxl-instagram"></i></a>
                <a href="skype:arturo.guerrero.g?call" class="google-plus" target="_blank"><i
                        class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/arturo-martin-guerrero-gutierrez" class="linkedin"
                    target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/aguerrero2016" class="linkedin" target="_blank"><i
                        class="bx bxl-github"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Acerca de mi</span></a>
                </li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                        <span>Resumen</span></a></li>
                <!-- <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Proyectos</span></a></li> -->
                <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Servicios</span></a></li> -->
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                        <span>Contacto</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Arturo Guerrero</h1>
        <p>Soy <span class="typed"
                data-typed-items="Desarrollador, Freelancer, Arquitecto de Soluciones Web, Analista de Sistemas"></span>
        </p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Acerca de mi</h2>
                <p>Me presento como un profesional pro-activo con don de liderazgo y destacado en trabajos de equipo.
                    capaz de trabajar bajo presion. Me adapto a las diferentes metodologías de trabajo (Enfoque PMI o
                    Agile)</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="./assets/img/profile-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Full Stack Developer &amp; Arquitecto de soluciones web.</h3>
                    <p class="fst-italic">
                        Especialista en tecnologías .Net y Azure aplicando metodologías ágiles
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Nacimiento:</strong> <span>24 de Octubre
                                        1982</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Sitio Web:</strong> <span></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+511 976 980
                                        781</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Lima, Perú</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>39</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Título:</strong> <span>Ingeniero de
                                        Sistemas</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong>
                                    <span>arturo.guerrero.g@gmail.com</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Disponible</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Soy un apasionado del desarrollo web empresarial, me gusta siempre estar actualizado con las
                        últimas tendencias de desarrollo y estoy constantemente buscando nuevas formas de aprender, así
                        como compartir mis conocimientos; a veces algunos temas me cuesta aprenderlos, pero una vez
                        aprendidos para mi es importante compartir. "Soy feliz si puedo aportar al conocimiento
                        colectivo".
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->



    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Aptitudes</h2>
                <p>A lo largo de mi carrera he tenido la oportunidad de trabajar con distintas tecnologías; y me parece
                    importante destacar las más importantes en mi línea de carrera</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript / JQuery / TypeScript <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Tecnologías .Net C# (ApiRest services, NetCore, NCapas, EntityFramework) <i
                                class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">SQL Server / Azure <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Angular <i class="val">65%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Happy Clients</strong> consequuntur quae</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Projects</strong> adipisci atque cum quia aut</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
          </div>
        </div>

      </div>

    </div>
  </section> -->
    <!-- End Facts Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resumen</h2>
                <p>Estos son algunos datos de mi experiencia profesional.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Resumen</h3>
                    <div class="resume-item pb-0">
                        <h4>Arturo Guerrero Gutierrez</h4>
                        <p><em>Te dejo mis datos de contacto.</em></p>
                        <ul>
                            <li>Lima, Peru</li>
                            <li>arturo.guerrero.g@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Educación</h3>
                    <div class="resume-item">
                        <h4>Titulado en Ingeniería de Sistemas.</h4>
                        <h5>2006 - 2010</h5>
                        <p><em>Universidad Tecnológica del Perú, Lima.</em></p>
                        <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
                    </div>
                    <div class="resume-item">
                        <h4>Técnico en Computación e Informática.</h4>
                        <h5>2002 - 2005</h5>
                        <p><em>Instituto Superior Tecnológico IDAT.</em></p>
                        <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
                    </div>
                    <h3 class="resume-title">Cursos libres</h3>
                    <div class="resume-item">
                        <h4>Udemy</h4>
                        <h5>2022</h5>
                        <ul>
                            <li>Git + GitHub - Control de versiones - Fernando Herrera</li>
                            <li>Angular de cero a experto - Fernando Herrera</li>
                            <li>Angular avanzado MEAN - Fernando Herrera</li>
                        </ul>
                        <h5>2021</h5>
                        <ul>
                            <li>React Native para IOS y Android - Fernando Herrera</li>
                        </ul>
                        <h5>2020</h5>
                        <ul>
                            <li>Programación Android desde cero - Jose Javier Villena</li>
                            <li>Curso MVVM Android - Alberto Palomar</li>
                            <li>Crea una App como UBER utilizando Android Studio y Firebase - Jonathan Goyes</li>
                        </ul>
                        <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
                    </div>

                    <h3 class="resume-title">Conocimientos Generales</h3>
                    <div class="resume-item">
                        <h4>Informática</h4>
                        <h5>Tecnologías Microsoft</h5>
                        <ul>
                            <li>Visual Studio .Net</li>
                            <ul>
                                <li>Creación de aplicaciones en diferentes arquitecturas (Ncapas, Orientadas al dominio,
                                    Orientadas a servicios o patrones de diseño)</li>
                                <li>Creación de servicios WSDL, WCF, ASMX, Api Rest</li>
                                <li>Creación de microservicios</li>
                                <li>Creación de aplicaciones web en servidores IIS o Azure</li>
                                <li>Manejo de servidores SQL (Server o Azure)</li>
                                <li>Manejo de webjobs Azure (Tareas programadas web)</li>
                                <li>Manejo de Azure Devops (Versionamiento GIT y manejo de proyectos bajo tableros
                                    scrum)</li>
                                <li>Creación de reportes Crystal Reports</li>
                                <li>Uso de controles DevExpress</li>
                            </ul>
                            <li>Legacy</li>
                            <ul>
                                <li>Creación de aplicaciones VB6</li>
                                <li>Manejo de versionamiento TFS, Subversion y Tortoise </li>
                                <li>Creación de reportes Crystal Reports</li>
                            </ul>
                        </ul>

                        <h5>Tecnologías Móviles</h5>
                        <ul>
                            <li>Android Studio - Intermedio</li>
                            <li>React Native - Intermedio</li>
                            <li>Ionic - Intermedio</li>
                            <li>Flutter - Básico</li>
                        </ul>
                        <h5>Otras Tecnologías</h5>
                        <ul>
                            <li>Angular - Intermedio</li>
                            <li>React - Intermedio</li>
                            <li>Next JS - Básico</li>
                            <li>Node JS - Intermedio</li>
                            <li>Mongo DB - Básico</li>
                            <li>FireBase - Básico</li>
                        </ul>
                        <h5>Gestión de Proyectos</h5>
                        <ul>
                            <li>Asana Software</li>
                            <li>Ms Project</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Idiomas</h4>
                        <h5>Inglés Intermedio</h5>
                        <ul></ul>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Experiencia Profesional</h3>
                    <div class="resume-item">
                        <h4>Full Stack Developer Senior</h4>
                        <h5>2022 - Present</h5>
                        <p><em>Compañía Minera Poderosa S.A., Lima </em></p>
                        <ul>
                            <li>Desarrollo de aplicaciones .Net</li>
                            <li>Desarrollo de aplicaciones Angular</li>
                            <li>Desarrollo de aplicaciones VB6</li>
                            <li>Desarrollo de reportes en Crystal Reports</li>
                            <li>Uso de versionamiento en Git Devops</li>
                            <li>Manejo de tableros de proyectos en Asana</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Lider Técnico de Desarrollo</h4>
                        <h5>2021</h5>
                        <p><em>100% Sur - Distribuidora exclusiva de Laive, Lima</em></p>
                        <ul>
                            <li>Responsable de la integridad de los aplicativos de la empresa.</li>
                            <li>Desarrollo de arquitecturas de sw para nuevos proyectos.</li>
                            <li>Responsable de infraestructura de Servicios Azure. - Responsable de control de cuentas
                                Devops</li>
                            <li>Responsable de la Gestión de Proyectos de SW (Asana)</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Analista Desarrollador</h4>
                        <h5>2020 - 2021</h5>
                        <p><em>Servicio de Administración Tributaria - SAT</em></p>
                        <ul>
                            <li>Conocimientos en .Net y NetCore (2.1, 2.2).</li>
                            <li>SQL Server</li>
                            <li>JavaScript y algunos de sus frameworks</li>
                            <li>Servicios Web SOAP o Rest</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Lider Técnico de Desarrollo</h4>
                        <h5>2019 - 2020</h5>
                        <p><em>100% Sur - Distribuidora exclusiva de Laive, Lima</em></p>
                        <ul>
                            <li>Responsable de la integridad de los aplicativos de la empresa.</li>
                            <li>Desarrollo de arquitecturas de sw para nuevos proyectos.</li>
                            <li>Responsable de infraestructura de Servicios Azure. - Responsable de control de cuentas
                                Devops</li>
                            <li>Responsable de la Gestión de Proyectos de SW (Asana)</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Lider Técnico de Desarrollo</h4>
                        <h5>2016 - 2018</h5>
                        <p><em>Bussiness Analytics (ATAPRO)</em></p>
                        <ul>
                            <li>Responsable de la integridad de los aplicativos de la empresa.</li>
                            <li>Desarrollo de arquitecturas de sw para nuevos proyectos.</li>
                            <li>Responsable de infraestructura de Servicios Azure. - Responsable de control de cuentas
                                Devops</li>
                            <li>Responsable de la Gestión de Proyectos de SW (Asana)</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Desarrollador - Analista Funcional</h4>
                        <h5>2014 - 2016</h5>
                        <p><em>Aon Graña - Corredores de Seguros</em></p>
                        <ul>
                            <li>Desarrollo de aplicaciones web en Visual Studio .NET 2010 (N Capas, MVC, JQuery, Json y
                                Entity Framework).</li>
                            <li>Desarrollo de Reportes (SSRS 2008 - 2012), Web Services (WSDL y WCF).</li>
                            <li>Conexión a Bases de Datos SQL Server 2008.</li>
                            <li>Configuración y manejo de TFS 2010.</li>
                            <li>Configuración y manejo de sistemas orientados al corretaje de seguros.</li>
                            <li>Gestión de proyectos bajo el enfoque PMI (Sistemas Gerenciales y Dashboards).</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Analista Programador</h4>
                        <h5>2009 - 2010</h5>
                        <p><em>Transportes Pajuelo</em></p>
                        <ul>
                            <li>Desarrollo de sistema integrado de la empresa, realizado en Visual Studio .NET 2008, BD
                                SQL Server 2005</li>
                            <li>Administrador de Servidor Windows 2003</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Auxiliar de Laboratorios de Cómputo</h4>
                        <h5>2007 - 2008</h5>
                        <p><em>Universidad Tecnológica del Perú - UTP</em></p>
                        <ul>
                            <li>Soporte técnico de los laboratorios de cómputo.</li>
                            <li>Asesoramiento a los alumnos de la universidad.</li>
                            <li>Desarrollo de sistemas relacionados a las actividades académicas (Horarios, Matriculas
                                On Line).</li>
                            <li>Manejo del Sistema de Admisión.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Aplicaciones</h2>
                <p>Estas son algunas de las aplicaciones donde tuve participación directa en el desarrollo.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> -->
    <!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>Algunos de los servicios que puedo brindar.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Diseño de productos</a></h4>
          <p class="description">Aplicación de metodologías LEAN para crear productos y soluciones innovadoras alineadas a los objetivos del negocio</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Calidad de aplicaciones</a></h4>
          <p class="description">Determinar la calidad de aplicaciones, desde el código fuente hasta la experiencia de usuario.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div>

    </div>
  </section> -->
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section> -->
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contacto</h2>
                <!-- <p>Por si alguna vez necesitas algo me puedes contactar.</p> -->
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-12 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Ubicación:</h4>
                            <p>Lima, Perú</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>arturo.guerrero.g@gmail.com</p>
                        </div>

                        <iframe
                            src="https://maps.google.com/maps?q=Rimac,%20Lima;%20per%C3%BA&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Tu Nombre</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Tu Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Título</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Mensaje</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                    </form>
                </div> -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>iPortfolio</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>